apiVersion: submarineraddon.open-cluster-management.io/v1alpha1
kind: SubmarinerConfig
metadata:
  name: submariner
  namespace: $MANAGED_CLUSTER_NAMESPACE
spec:
  IPSecNATTPort: $IPSEC_NATT_PORT
  cableDriver: libreswan
  gatewayConfig:
    gateways: 1
    aws:
      instanceType: c5d.large
  credentialsSecret:
    name: $MANAGED_CLUSTER_PLATFORM_SECRET
  subscriptionConfig:
    channel: $SUBMARINER_CHANNEL
    source: $SUBMARINER_SOURCE
    sourceNamespace: openshift-marketplace
