{% set creds = managed_clusters_credentials | selectattr('name', 'equalto', item.credentials) | first %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-{{ creds.name }}
  namespace: {{ item.name }}
type: Opaque
data:
{% if creds.platform == "aws" %}
  aws_access_key_id: {{ creds.aws_access_key_id | b64encode }}
  aws_secret_access_key: {{ creds.aws_secret_access_key | b64encode }}
{% endif %}
{% if creds.platform == "gcp" %}
  projectID: {{ creds.project_id | b64encode }}
  osServiceAccount.json: {{ creds.os_service_account_json | b64encode }}
{% endif %}
{% if creds.platform == "azr" %}
  baseDomainResourceGroupName: {{ creds.base_domain_resource_group_name | b64encode }}
  cloudName: {{ creds.cloud_name | b64encode }}
  osServicePrincipal.json: {{ creds.os_service_principal_json | b64encode }}
{% endif %}
{% if creds.platform == "vmw" %}
  username: {{ creds.username | b64encode }}
  password: {{ creds.password | b64encode }}
{% endif %}
