apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: {{ item.platform }}
type: Opaque
data:
  baseDomain: {{ item.base_domain | b64encode }}
  pullSecret: {{ pull_secret | b64encode }}
  ssh-privatekey: {{ ssh_key | b64encode }}
  ssh-publickey: {{ ssh_pub_key | b64encode }}
{% if item.platform == "aws" %}
  aws_access_key_id: {{ item.aws_access_key_id | b64encode }}
  aws_secret_access_key: {{ item.aws_secret_access_key | b64encode }}
{% elif item.platform == "gcp" %}
  projectID: {{ item.project_id | b64encode }}
  osServiceAccount.json: {{ item.os_service_account_json | b64encode }}
{% elif item.platform == "azr" %}
  baseDomainResourceGroupName: {{ item.base_domain_resource_group_name | b64encode }}
  cloudName: {{ item.cloud_name | b64encode }}
  osServicePrincipal.json: {{ item.os_service_principal_json | b64encode }}
{% elif item.platform == "vmw" %}
  vCenter: {{ item.vcenter | b64encode }}
  username: {{ item.username | b64encode }}
  password: {{ item.password | b64encode }}
  cluster: {{ item.cluster | b64encode }}
  datacenter: {{ item.datacenter | b64encode }}
  defaultDatastore: {{ item.default_datastore | b64encode }}
  cacertificate: {{ item.cacertificate | b64encode }}
{% endif %}
