{% set install_conf = lookup('template', 'install-config.yaml.j2') %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-install-config
  namespace: {{ item.name }}
type: Opaque
data:
  # Base64 encoding of install-config yaml
  install-config.yaml: {{ install_conf | b64encode }}
